:root{
	--text-color: black;
	--text-btn: #f0f0f0 ;
	--bg-color: royalblue;
	--fs-text:18px;
	--bg-input:rgba(0,0,0,0.6);
	--tx-input:white;
	--text-input:white;
}
.conteudo{
	border: 1px solid red;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
/*.conteudo input{
	padding: 10px;
	border-radius: 15px;
	border: none;
	font-size: var(--fs-text);
	color: var(--text-btn);
}*/
.inentra{
	border: 2px solid black;
	padding: 10px;
	border-radius: 15px;
	font-size: var(--fs-text);
	color: var(--tx-input);
	background: var(--bg-input);
}
.tbcont{
	/*border: 1px solid black;*/
}
.tbcont tr{
	height: 70px;
}
.tbcont td{
	/*border: 1px solid black;*/
	width: 200px;	
}
.tbentra{
	text-align: right;

}
/*
.tbcont .tbentra input{
	padding: 10px;
	border: none;
	border-radius: 15px;
	font-size: var(--fs-text);
	background: var(--bg-input);
	color: var(--text-input);
	color: var(--text-color);
}*/
.botao{
	padding: 10px;
	width: 160px;
	border: none;
	border-radius: 15px;
	background: var(--bg-color);
	font-size: var(--fs-text);
}
.botao a{
	text-decoration: none;
	color: var(--text-btn);
	font-size: 18px;
	pointer-events: none;

}
.inputsubmit{
	padding: 10px;
	width: 160px;
	border: none;
	border-radius: 15px;
	background: var(--bg-color);
	font-size: var(--fs-text);
	color: var(--text-btn);
}
.executa{
	display: flex;
  	align-items: center;
  	justify-content: space-between
}
.historico{
	position: absolute;
	display: flex;
	top: 250px;
	border: 2px solid red;
}
.tabela{
	position: relative;
	
	background: var(--bg-input);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 2px solid blue;
}
.tabela  th
{
	padding: 7px;
}
.tabela  tr
{
	text-align: center;
}
