{
	margin: 0;
	padding: 0;
	
	font-family: sans-serif;
}
body
{
	min-height: 100vh;
	background: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
	
	
}
.table-bg{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 0 0;
}
.box-search{
    display: flex;
    justify-content: center;
    gap: .1%;
}
.navigation
{
	position: absolute;
	top: 20px;
	left: 5px;
	bottom: 20px;
	width: 160px;
	border-radius: 10px;box-sizing: initial;
	border-left: 10px solid blue;
	background: blue;
	transition: 0.5s;
}
.navigation ul
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 0px;
	padding-top: 30px;
}
.navigation ul li
{
	position: relative;
	list-style: none;
	width: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.navigation ul li a
{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #fff;
}
.icon
{
	position: relative;
	display: block;
	min-width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
}
.icon ion-icon
{
	font-size: 1.2em;
}

.title
{
	position: relative;
	display: block;
	padding-left: 1px;
	height: 40px;
	line-height: 40px;
	white-space: normal;
}
.list a:hover
{
	background: #fff;
	color: #333;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.procura 
{
	position: absolute;
	top: 40px;
	left: 500px;
}
.procura p
{
	color: white;
	font-size: 20px;
	padding: 10px;
}
.procura h1
{
	color: white;
	font-size: 20px;
	background: rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}
.caixa
{
	width: 200;
	height: 200;
}
 
.procura input
{
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    position: right;
}
.procura table
{
	border: 1px solid white;
	padding: 15px;
	border-radius: 15px;
}
.procura table tr
{
	color: white;
	
}
.procura td
{
	padding: 5px;

}
.procura fieldset
{
	border: 1px solid white;
}
.inputSubmit
{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    position: absolute;
    left: 200px;

    
    
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.inputSubmit:hover
{
	background-color: deepskyblue;
}

.botao
{
    background-color: dodgerblue;
    border: none;
    padding: 10px;	
    position: left;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.botao:hover
{
	background-color: deepskyblue;
}
.botao a
{
	font-size: 15px;
    color: white;
    text-decoration: none;
}
.botao a:hover
{
	background-color: deepskyblue;
	color: white;
}
.tabela
{
	position: absolute;
	top: 350px;
	left: 190px;
	background: rgba(0,0,0,0.3);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.tabela  th
{
	padding: 7px;
}
.tabela  tr
{
	text-align: center;
}
.entradados
{
	border: 1px solid white;
	position: fixed;
	left: 500px;
	line-height: 30px;
	font-size: 25px;
}
.tabela2
{
	position: absolute;
	top: 350px;
	left: 500px;
	background: rgba(0,0,0,0.3);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.tabela2 th
{
	padding: 15px;
}
.tabela2 tr
{
	text-align: center;
}