@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* ===== Colors ===== */
    --body-color: #d0d0d0;
    --sidebar-color: #b0b0b0;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: black;
    --text-sel: #f0f0f0;
    --bg-sel: royalblue;
    --bg-color: royalblue;
    --text-btn: #f0f0f0 ;
    --fs-text:18px;
    --bg-input: rgba(0,0,0,0.8);
	--tx-input:white;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
/*div {
	border: 1px solid red;
}*/
body{
	min-height: 100vh;
	background: var(--body-color);
}
.ttela{
	position: relative;
	/*border: 1px solid red;*/
	width: 100%;
}
.sbar .logo{
	position: relative;
	padding-top: 10px;	
}
.sbar .logoc{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	transition: var(--tran-03);
}
.sbar .logoc img{
	width: 120px;
	transition: var(--tran-03);
}
.sbar.fechada .logoc img{
	width: 70px;
	transition: var(--tran-03);
}
.sbar{
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	position: absolute;
	background: var(--sidebar-color);
	transition: var(--tran-03);
}
.sbar.fechada{
	width: 75px;
}
.sbar.fechada .links-name{
	opacity: 0;
	pointer-events: none;
}
.sbar .links-name{
	opacity: 1;
	pointer-events: auto;
}
.nlista{
	position: absolute;
	width: 100%;
}
.sbar .nlista ul{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 80px;
}
.sbar .nlista ul li{
	display: flex;
	background: none;
	list-style: none;
	line-height: 50px;
	margin: 10px 0px;
	border-radius: 15px;
	font-size: 16px;
	color: white;
	transition: var(--tran-03);
}
.sbar .nlista ul li:hover{
	background: var(--bg-sel);
}
.sbar .nlista ul li a{
	text-decoration: none;
	color: var(--text-color);
	white-space: nowrap;

}
.sbar .nlista ul li i{
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;

}
.sbar .nlista ul li:hover i {
	color: var(--text-sel);
}
.sbar .nlista ul li:hover a {
	color: var(--text-sel);
}
/*.sbar .cabecalho {
	position: relative;
	left: 210px;
	width: calc(100% - 210px);
	height: 200px;
	transition: var(--tran-03);
}*/
.cabecalho {
	position: relative;
	left: 90px;
	width: calc(100% - 150px);
	height: 250px;
	transition: var(--tran-03);
	/*border: 1px solid red;*/
}
.trpatr {
	position: absolute;
	top: 300px;
	left: calc(50% + 90px);
	transform: translate(-50%);
	transition: var(--tran-03);
}
.procura {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%);
	/*border: 1px solid red;*/
}
.mostra {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.entra {
    padding: 5px 5px 5px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    position: right;
}
.nwrec {
	border: 2px solid white;
	padding: 15px;
	border-radius: 15px;
}
.nwrec td {
	padding: 5px;

	/*border: 1px solid red;*/
}
.nwrec td:first-child { width: 300px;  }
.historico {
	position: absolute;
	left: 90px;
	top: 260px;
	width: calc(100% - 90px);
	/*border: 1px solid blue;*/
	transition: var(--tran-03);
}
.historico2 {
	position: relative;
	left: 90px;
	top: 80px;
	/*border: 1px solid red;*/
	transition: var(--tran-03);
}
.lista {
	position: absolute;
	left: 200px;
	top: 200px;
	transition: var(--tran-03);
}
.tlista {
	position: absolute;
	left: calc(50% + 200px);
	transform: translate(-50%);
	top: 200px;
	transition: var(--tran-03);
}
.tlista2 {
	position: absolute;
	left: calc(50% + 200px);
	transform: translate(-50%);
	top: 300px;
	transition: var(--tran-03);
}
.rodape {
	position: absolute;
	left: 50%;
}
.centro2 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	transition: var(--tran-03);
}
.tbcont tr {
	height: 30px;
	white-space: nowrap;
}
.tbcont td {
	font-size: var(--fs-text);
	font-weight: bold;
	color: var(--text-color);
	width: 200px;
	padding: 5px 25px 5px 25px;	
	margin-left: 5px;
}
.tbentra {
	text-align: right;
}
.inentra {
	padding: 5px 0px 5px 20px;
	border-radius: 15px;
	font-size: var(--fs-text);
	color: var(--tx-input);
	background: var(--bg-input);
	letter-spacing: 2px;
}
.botao {
	padding: 5px;
	width: 200px;
	border: none;
	border-radius: 10px;
	background: var(--bg-color);
	font-size: var(--fs-text);
}
.botao a{
	text-decoration: none;
	color: var(--text-btn);
	font-size: 18px;
}
.botao2 {
	padding: 5px;
	width: 100px;
	border: none;
	border-radius: 10px;
	background: royalblue;
	font-size: var(--fs-text);
}
.botao2 a {
	text-decoration: none;
	color: var(--text-btn);
}
.inputsubmit{
	padding: 5px;
	width: 160px;
	border: none;
	border-radius: 10px;
	background: var(--bg-color);
	font-size: var(--fs-text);
	color: var(--text-btn);
}
.inputsubmita {
	padding: 5px;
	width: 80px;
	border: none;
	border-radius: 15px;
	background: var(--bg-color);
	font-size: var(--fs-text);
	color: var(--text-btn);
}
.executa {
	display: flex;
  	align-items: center;
  	justify-content: space-between;
}
.centro {
	position: absolute;
	left: 50%;
  	transform: translate(-80%);
}
.tabela {
	background: var(--bg-input);
	color: var(--text-btn);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-spacing: 0;
	
}
.tabela th {
	padding: 7px;
	border-bottom: 1px solid white;
}
.tabela tr{
	text-align: center;
}
.tabela td{
	border-bottom: 1px solid white;
  	padding-left: 2px;
	padding-right: 2px;
}
.tabela a {
	text-decoration: none;
	color: var(--text-btn);
}
