.tit1 {
    background-color: blue;
    color: white;
}
.tit2 {
    background-color: rgba(0, 0, 255, 0.596);
    color: white;
}
.tit3 {
    background-color: #0000ff;
    color: white;
}
.tit4 {
    background-color: hsla(240, 100%, 50%, 0.842);
    color: white;
}