/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* ===== Colors ===== */
    --body-color: #f0f0f0;
    --sidebar-color: lightgrey;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: black;
    --text-sel: #f0f0f0;
    --bg-sel: royalblue;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body{
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	background: var(--body-color);
}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 78px;
	background: var(--sidebar-color);
	padding: 6px 14px;
	transition: var(--tran-04);
}
.sidebar.active{
	width: 210px;
}
.sidebar .logo-content .logo{
	color: var(--text-color);
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	opacity: 0;
	pointer-events: none;

}
.sidebar.active .logo-content .logo{
	opacity: 1;
	pointer-events: none;
	transition: var(--tran-04);
}
.logo-content .logo i{
	font-size: 28px;
	margin-right: 5px;
}
.logo-content .logo .logo-name{
	margin-left: 15px;
	font-size: 20px;
	font-weight: 400;
}
.logo-content .logo .logo-name img{
	height: 45px;
}
.sidebar #btn{
	position: absolute;
	color: var(--text-color);
	left: 50%;
	top: 6px;
	font-size: 20px;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	transform: translate(-50%);
}
.sidebar.active #btn{
	left: 90%;
}
.sidebar ul{
	margin-top: 20px;
}
.sidebar ul li{
	position: relative;
	height: 50px;
	width: 100%;
	margin: 10px 0px;
	list-style: none;
	line-height: 50px;
}
.sidebar ul li .tooltip{
	position: absolute;
	left: 142px;
	top: 0;
	transform: translate(-50% , -50%);
	border-radius: 6px;
	height: 35px;
	width: 122px;
	background: #fff;
	line-height: 35px;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	transition: 0s;
	opacity: 0;
	pointer-events: none;
	display: block;
}
.sidebar.active ul li .tooltip{
	display: none;

}
.sidebar ul li:hover .tooltip{
	transition: var(--tran-02);
	top: 50%;
	opacity: 1;
}
.sidebar ul li .bx-expand{
	/*position: absolute;*/
	z-index: 99;
	color: var(--bg-text);
	font-size: 22px;
	transition: var(--tran-04);
}
.sidebar ul li .bx-expand:hover{
	background: var(--bg-sel);
	color: var(--bg-text);
}
.sidebar ul li input{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 12px;
	outline: none;
	border: none;
	background: #1d1b31;
	padding-left: 50px;
	font-size: 18px;
	color: #fff;
}
.sidebar ul li a{
	color: var(--text-color);
	display: flex;
	align-items: center;
	text-decoration: none;
	/*transition: var(--tran-04);*/
	border-radius: 12px;
	white-space: nowrap;
}
.sidebar ul li a:hover{
	color: var(--text-sel);
	background: var(--bg-sel);
}
.sidebar ul li i{
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
}
.sidebar .links-name{
	opacity: 0;
	pointer-events: none;
	transition: var(--tran-04);
}
.sidebar.active .links-name{
	opacity: 1;
	pointer-events: auto;
}
.sidebar .links-name2{
	opacity: 0;
	pointer-events: none;
	transition: var(--tran-04);
}
.sidebar.active .links-name2{
	opacity: 1;
	pointer-events: auto;
}
.sidebar .profile-content{
	position: absolute;
	color: #fff;
	bottom: 0;
	left: 0;
	width: 100%;
}
.sidebar .profile-content .profile{
	position: relative;
	padding: 10px 6px;
	height: 60px;
	background: #1d1b31;
	transition: var(--tran-04);
}
.sidebar.active .profile-content .profile{
	background: #1d1b31;
}
.sidebar .profile-content .profile .profile-details{
	display: flex;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	white-space: nowrap;
}
.sidebar.active .profile .profile-details{
	opacity: 1;
	pointer-events: auto;
}
.sidebar .profile-details img{
	height: 30px;
	object-fit: cover;
}
.sidebar .profile-details .name-job{
	margin-left: 10px;
}
.sidebar .profile-details .name{
	font-size: 15px;
	font-weight: 400;
}
.sidebar .profile-details .job{
	font-size: 12px;

}
.profile #sair{
	position: absolute;
	left: 50%;
	bottom: 5px;
	transform: translate(-50%);
	min-width: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 12px;
	text-align: center;
	transition: var(--tran-04);
	background: #1d1b31;
}
.sidebar.active .profile  #sair{
	left: 88%;
	background: #1d1b31;
}
.home-content{
	position: absolute;
	height: 100%;
	left: 80px;
	transition: var(--tran-04);
}
.home-content .text{
	font-size: 25px;
	font-weight: 500;
	color: black;
	margin: 12px;
}
.sidebar.active ~ .home-content{
	left: 210px;
}
.sai{
	color: var(--text-sel);
}
